.item {
  height: 100px;
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px 0 15px 0;
}

.item:hover {
  background-color: #f9fae7;
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 75%;
  margin: auto;
  align-items: center;
}

.item-team {
  width: 150px;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

.item-date {
  font-size: 18px;
  color: #000000; 
}

.item-category {
  width: 150px;
  text-align: center;
  font-size: 14px;
}

.item-coefficient {
  background-color: #000000;
  color: #f8ff13;
  padding: 7px;
  font-size: 19px;
  border-radius: 5px;
  font-weight: 600;
}

.item-link {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 600px) {
  .item {
    height: 90px;
    margin-top: 10px;
  }

  .item-container {
    width: 100%;
  }

  .item-date {
    font-size: 14px;
  }

  .item-team {
    font-size: 14px;
  }

  .item-coefficient {
    font-size: 14px;
    padding: 8px;
  }
}