.toast-container {
  width: 450px;
  text-align: center;
  position: absolute;
  animation-duration: 5.5s;
  height: 90px;
  animation-name: animate-fade;
  background-color: #f9fae7;
  color: #000000;
  border-radius: 5px;
  margin-left: 425px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #000000;
}


@keyframes animate-fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  65% {opacity: 1;}
  100% { opacity: 0; }
}

.toast-container-comands {
  font-size: 18px;
  margin: 5px;
}

.toast-container-outcome{
  font-size: 14px;
  margin-top: 5px;
  font-weight: 200;
}

.toast-container-submit {
  font-size: 17px;
  margin: 5px;
  text-decoration: underline;
  font-weight: 200;
}